
* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
    font: 14px/20px Arial, San-Serif;
    color: #555;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 180%;
    line-height: 100%;
    padding: 5% 0;
}

h2 {
    text-decoration: underline;
    line-height: 280%
    padding-left: 2%

}

h3 {
    line-height: 10%
    padding: 5% 0;

}

p {

	text-align: center;
	text-align: justify;
	line-width: 60%;
	padding-top:    0px;
    padding-right:  500px;
    padding-bottom: 0px;
    padding-left:   500px;


}
img {

	text-align: center;
	text-align: justify;
	line-width: 60%;
	padding-top:    0px;
    padding-right:  500px;
    padding-bottom: 0px;
    padding-left:   500px;


}
image {
       text-align: center;
       max-width: 100%;
       height: auto;
       width: auto;
}

a {
   color: #FFF;
   text-decoration: none;
   font-weight: bold;
}

a:hover{
  color: #FFF
  text-decoration:underline;
}

header {
  background-color: #292929;
  width: 100%;
  height: 86px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0.90;
20px float: left
}
#logo {
  margin: 0px;
  float: left;
  width: 500px;
  height: 90px;
  background-image: url(https://static1.textcraft.net/data1/b/c/bcd9698c8c10e09226995eab88cd1ea7996431c0da39a3ee5e6b4b0d3255bfef95601890afd80709da39a3ee5e6b4b0d3255bfef95601890afd807097b46f0df57e77a899b1718a71a0344ec.png);
  background-repeat: no-repeat;
}

nav {
  float: right;
  padding: 35px 20px 20px 0;
}

#menu-icon {
  display: hidden
  width: 40px;
  height: 40px;
  background-image: url(https://i.ytimg.com/vi/o5bMd9vnZ-c/maxresdefault.jpg)
}
a: hover#menu-icon {
  border-radius: 4px 4px 0 0;
}

ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  float: left;
  padding: 10px;
}

.current {
  color: #FFF;
  background-color: #292929;


}

.current:hover {
    color : orange;
	background-color: #292929;
}



#doc {
  margin: 40px 0;
}
#content {
  margin: 0 auto;
  max-width: 1140px

}
.blueberry {
  max-width: 960px;
  margin-top: 110px;

}



.blueberry { margin: 0 auto; }
.blueberry .slides {
	display: block;
	position: relative;
	overflow: hidden;
}
.blueberry .slides li {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.blueberry .slides li img {
	display: block;
	width: 100%;
	max-width: none;
}
.blueberry .slides li.active { display: block; position: relative; }
.blueberry .crop li img { width: auto; }

.blueberry .pager {
	height: 40px;
	text-align: center;
}
.blueberry .pager li { display: inline-block; }
.blueberry .pager li a,
.blueberry .pager li a span {
	display: block;
	height: 4px;
	width: 4px;
}
.blueberry .pager li a {
	padding: 18px 8px;
-webkit-border-radius: 6px;
   -moz-border-radius: 6px;
	border-radius: 6px;
}
.blueberry .pager li a span {
	overflow: hidden;
	background-color: #c0c0c0;
	text-indent: -9999px;
-webkit-border-radius: 2px;
   -moz-border-radius: 2px;
	border-radius: 2px;
}
.blueberry .pager li.active a span {
	background-color: #404040; 
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
    font: 14px/20px Arial, San-Serif;
    color: #555;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 180%;
    line-height: 100%;
    padding: 5% 0;
}

h2 {
    text-decoration: underline;
    line-height: 280%
    padding-left: 2%

}

h3 {
    line-height: 10%
    padding: 5% 0;

}

p {

	text-align: center;
	text-align: justify;
	line-width: 60%;
	padding-top:    0px;
    padding-right:  500px;
    padding-bottom: 0px;
    padding-left:   500px;


}
img {

	text-align: center;
	text-align: justify;
	line-width: 60%;
	padding-top:    0px;
    padding-right:  500px;
    padding-bottom: 0px;
    padding-left:   500px;

}

image {
       text-align: center;
       max-width: 100%;
       height: auto;
       width: auto;
}

a {
   color: #FFF;
   text-decoration: none;
   font-weight: bold;
}

a:hover{
  color: #FFF
  text-decoration:underline;
}

header {
  background-color: #292929;
  width: 100%;
  height: 86px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0.90;
20px float: left
}
#logo {
  margin: 0px;
  float: left;
  width: 500px;
  height: 90px;
  background-image: url(http://i.imgur.com/0me8FAy.png);
  background-repeat: no-repeat;
}

nav {
  float: right;
  padding: 35px 20px 20px 0;
}

#menu-icon {
  display: hidden
  width: 40px;
  height: 40px;
  background-image: url(https://i.ytimg.com/vi/o5bMd9vnZ-c/maxresdefault.jpg)
}
a: hover#menu-icon {
  border-radius: 4px 4px 0 0;
}

ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  float: left;
  padding: 10px;
}

.current {
  color: #FFF;
  background-color: #292929;


}

.current:hover {
    color : orange;
	background-color: #292929;
}



#doc {
  margin: 40px 0;
}
#content {
  margin: 0 auto;
  max-width: 1140px

}
.blueberry {
  max-width: 960px;
  margin-top: 110px;

}




body {
    background-color: #f0f0f0;
    font: 14px/20px Arial, San-Serif;
    color: #555;
    margin: 0;
}



















